/* Polices du thème CDC.html — DM Serif Display (titres) & DM Mono (interface).
   Fichiers extraits de CDC.html (sous-ensembles Google Fonts, licence OFL). */

@font-face {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/DMSerifDisplay-400.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Serif Display';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/DMSerifDisplay-400-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/DMMono-300.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/DMMono-400.woff2') format('woff2');
}

@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/DMMono-500.woff2') format('woff2');
}
